<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="RWC 2015 tweet logger" content="" />
	<meta name="@rob_hinds" content="" />
	<link rel="icon" href="../../favicon.ico" />
	
	<title>RWC2015 Tweet-eater</title>
	<link href="" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	
	<style type="text/css">
		.wrapper{
			background: url('/images/rwc.png') no-repeat   center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			color: white;
		}
		.white-bg{
			padding: 25px;
			margin-top: 40px;
			background-color:rgba(0,0,0,0.4);
		}
	</style>
	
  </head>

  <body class="wrapper">

    <!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="container white-bg">
        <h1>RWC2015 Tweet-eater</h1>
        <p>This is a simple app that will connect to the Twitter sample "firehose" streaming API
        and then just look for tweets related to RWC2015 and save them by country mentioned.</p>
        <p>Built using Sprinb-Boot, Reactor and Redis.</p>
        
        <form action="/connect/twitter" method="POST">
			<div class="formInfo">
				<p>You aren't connected to Twitter yet. Click the button to
					connect this application with your Twitter account.</p>
			</div>
			<p>
				<button class="btn btn-primary btn-lg"  type="submit">Connect to Twitter</button>
			</p>
		</form>
	</div>

    <div class="container">
      <hr/>
      <footer>
        <p>@rob_hinds</p>
        <p>http://automateddeveloper.blogspot.com</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
